@mixin sb-image($name) {
    @include sb-sprite(#{$name});
    height: sb-sprite-height(#{$name});
    width: sb-sprite-width(#{$name});
}
@mixin box-margin-center() {
    margin-left: auto;
    margin-right: auto;
}