sb-offer-display {

    //overflow: hidden;
    display: block;
    position: relative;

    &.ng-leave, &.ng-enter {
        transition: all 400ms;
        transform-origin: left top;
    }

    &.ng-leave.ng-leave-active,
    &.ng-enter {
        opacity: 0;
        transform: scaleY(0) translateY(-100%);
    }
    &.ng-enter.ng-enter-active,
    &.ng-leave {
        transform: scaleY(1) translateY(0);
        opacity: 1;
    }
}

.sb-offer {
    display: flex;
    flex-wrap: wrap;
}

.sb-offer__image {
    width: 30%;

    img {
        max-width: calc(100% + 20px);
        transform: scale(1.1);
        height: auto;
        margin-left: -20px;
    }
}

.sb-offer__info {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    flex: 1;

    .box-margin-top {
        margin-top: 10px;
    }

    h2 {
        font-size: 20px;
        margin: 0;
        width: 100%;
    }
    p {
        line-height: 1;
    }
}
.sb-offer__info-rateplan {
    width: 100%;
}

.sb-offer__half {

    &:nth-of-type(2) {
        margin-right: $margin-sm;
    }
}

.sb-offer__list {
    width: 100%;
    li {
        line-height: 1.1;
        &:before {
            content: '+';
            margin-right: .5em;
            display: inline-block;
        }
    }
}

.sb-offer__price {
    width: 100%;
    text-align: right;
    font-size: 25px;
}

.sb-offer__commands {
    width: 100%;
    display: flex;

    .btn {
        padding: 0;
        margin-right: $margin-sm;
        flex-grow: 1;
        &:last-child {
            margin-right: 0;
        }
    }
    .sb-offer__command--delete {
        flex-grow: 0;
        width: 40px;
    }

}


