.sb-offer-modal {
    .sb-offer__info {
        position: relative;

        h2 {
            font-size: 2.2em;
        }

        .sb-offer__half {
            p:first-child {
                span {
                    font-size: 16px;
                }
            }
        }

    }

    .sb-offer__commands {
        display: inline-block;

        button {
            float: right;
        }

        .btn {
            padding: 0 $padding + $padding-sm;
            margin-left: $margin;
            margin-right: 0;
        }
    }

    .sb-offer__image {
        width: inherit;
    }

    .sb-offer__half + .sb-offer__half {
        margin-left: $margin;
    }

    .sb-offer__title {
        width: 100%;

        h2 {
            max-width: 350px;
        }

        @media (min-width: 980px) {
            h2 {
                max-width: 400px;
            }
        }


    }
    .sb-offer__price {
        position: absolute;
        top: 4px;
        right: 0;
        margin-top: 0;

        p + p {
            margin-top: $margin-sm + $margin-xs;
        }
    }

    .sb-offer__list {
        margin-top: $padding + $padding-sm;

        li {
            line-height: 1.4;
            display: inline-block;
            width: 230px;

            span {
                font-size: $font-size-smedium;
            }
        }

        .li:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
    }

}