<div class="sb-modal sb-modal--transparent sb-info-modal">
    <div class="sb-modal__container">

        <div class="desktop-wrapper">
            <div sb-offer-count sb-trigger
                 class="trigger-desktop">
                <span class="sb-hart"></span>
                <span class="sb-trigger-static-text">Favorieten</span>
            </div>

            <div class="sb-modal__content">
                <div class="content__header">

                    <div class="sb-img-arrow-heart">
                    </div>

                    <p class="sb-text-button-right text-styles text">
                        <span custom-text="MCSGOURL.171">Hier vind je jouw favorieten</span>
                    </p>

                    <div class="sb-text-button-right text-styles">
                        <button ng-click="close()" class="btn btn-magenta">
                            <span custom-text="MCSGOURL.170">Ok&eacute;, ik snap het!</span>
                        </button>
                    </div>

                </div>
            </div>

        </div>

    </div>
</div>
