<div class="sb-modal sb-offer-modal">
    <div class="sb-modal__container">

        <div class="desktop-wrapper-narrow">
            <div class="sb-modal__header">
                <div class="sb-modal__close" ng-click="close()"></div>
                <div class="sb-modal__title">
                    <span class="sb-hart"></span>
                    <span custom-text="MCSGOURL.167">Je favorieten</span>
                </div>
            </div>
            <hr/>
            <div class="sb-modal__content">
                <sb-offer-display ng-repeat="offer in offers track by $index"
                                  offer="offer">
                </sb-offer-display>
            </div>
        </div>

    </div>
</div>