@media (min-width: 768px) {
    .desktop-wrapper,
    .desktop-wrapper-narrow {
        width: auto;
        margin: 0 auto;
    }
}

@media (min-width: 980px) {
    .desktop-wrapper{
        width: 980px;
        margin: 0 auto;
    }

    .desktop-wrapper-narrow {
        width: 768px;
        margin: 0 auto;
    }

}

@media (min-width: 1160px) {
    .desktop-wrapper {
        width: 1160px;
        margin: 0 auto;
    }
    .desktop-wrapper-narrow {
        width: 768px;
        margin: 0 auto;
    }
}

/*FF and IE fix to prevent scrollbar error, when displaying overlay*/
body[ng-app=SaveBasket].modal-open {
    overflow: auto;
    position: fixed;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    body[ng-app=SaveBasket].modal-open {
        position: initial;
    }
}

.sb-modal__title {
    font-size: 2.2em;
}

.sb-modal__container {
    overflow-y: hidden;
}

/*Info modal*/
.sb-info-modal {
    .trigger-desktop {
        width: 135px;
        float: right;
        background: white;
        color: $gray-darker;
        font-size: $font-size-medium;
        line-height: 25px;
        margin-top: -5px;

        .sb-hart {
            margin-left: $margin;
        }
        .sb-trigger-static-text {
            margin-left: $margin-xs;
        }
    }

    .sb-modal__container {
        padding: $padding-xs $padding;
    }

    .content__header {
        margin-top: $margin;

        .sb-text-button-right {
            float: right;
            clear: right;
            margin-top: 15px;
            margin-right: 70px;
        }

        .text {
            font-size: $font-size-h2;
        }

        button {
            padding: 0 $padding-lg;
            margin-right: $margin;
        }
    }

    .text-styles {
        font-family: "tele-grotesk", "Open Sans", "Arial", sans-serif;
    }
}