body.modal-open main {
    filter: blur(1px);
}

.sb-modal {

    height: 100%;
    width: 100vw;

    z-index: 1010;

    position: fixed;
    top: 0;
    left: 0;

    p.large, span.large {
        font-size: 14px;
    }
    p.center {
        font-family: "tele-grotesk", "Open Sans", "Arial", sans-serif;
        font-size: 1.5em;
        line-height: 1.2;
    }

    background-color: white;

    &.sb-modal--transparent {
        background-color: rgba(0,0,0,0.7);

        color: white;

        body.miniReceiptShown & {
            height: calc(100% - 50px);
        }
    }


    hr {
        margin: $margin-sm/2 0;
    }

    .btn {
        padding: 0 15px;
        line-height: 35px;

        &.btn-grey {
            color: black;
        }
    }

    .offer-replace-btn {
        margin-top: $margin;

        .btn {
            min-width: 70px;
        }
        button:first-child {
            margin-right: $margin;
        }
    }
    
    .offer-replace-text {
        margin-bottom: $margin;
    }
}
sb-offer-display:last-child hr {
    display: none;
}

.sb-modal__container {
    padding: $padding;
    height: 100%;
    overflow-y: scroll;
}
.sbmodal__content, .sb-modal__header {
    position: relative;
}


.sb-modal__close {
    position: absolute;
    top: -4px;
    right: -4px;

    width: 45px;
    height: 45px;
    line-height: 40px;

    color: #357BA7;
    font-size: 35px;
    cursor: pointer;

    text-align: center;

    &:after {
        font-family: 't-mobile-icon-font' !important;
        content: "\e60f";
    }
}
.sb-modal__title {
    font-family: "tele-grotesk", sans-serif;
    font-size: 1.8em;

    color: $gray;
    font-weight: bold;

    .sb-hart {
        margin-right: .25em;
    }
}

.sb-info-modal {
    .sb-modal__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .content__header {
        .sb-img-arrow-heart {
            float: right;
            margin-right: 30px;
            margin-top: 17px;
        }
        .center {
            clear: right;
        }
    }
    .content__footer {
        .sb-img-arrow-order {
            float: right;
            margin-right: 42px;
            margin-bottom: -5px;
        }
    }

}
.center-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}
.box-margin-center {
    @include box-margin-center;
}