.sb-hart {
    color: $brand-color;
    font-size: 1.5em;
    vertical-align: middle;
    display: inline-block;
    @include sb-image(heart-small);
    //@include sb-sprite(heart-small);
    //height: sb-sprite-height(heart-small);
    //width: sb-sprite-width(heart-small);
    .sb-modal__title & {
        //@include sb-image(heart);
        margin-bottom: 3px;
    }
}

.btn.btn-inverse-blue {
    color: white;
    background-color: $blue;
    border-color: $blue;
    box-shadow: 0 2px 0 darken($blue, 10%);
    &:hover {
        color: #FFF;
        background-color: $blue;
        border-color: darken($blue, 5%);
        box-shadow: 0 2px 0 darken($blue, 10%);
    }
}
.sb-img-empty-basket {
    @include sb-image(no-favorites);
    margin-top: 50px;
}
.sb-img-arrow-heart {
    @include sb-image(arrow-heart-small);
}
.sb-img-arrow-order {
    @include sb-image(arrow-order-small);
}
.sb-img-offer-replace {
    @include sb-image(offer-replace);
}