<div class="sb-modal">
    <div class="sb-modal__container">
        <div class="sb-modal__header">
            <div class="sb-modal__close" ng-click="close()"></div>
            <div class="sb-modal__title">
                <span class="sb-hart"></span>
                <span custom-text="MCSGOURL.167">Je favorieten</span>
            </div>
        </div>
        <hr/>
        <div class="sb-modal__content">
            <div class="sb-img-empty-basket center box-margin-vertical box-margin-center"></div>
            <p class="center">
                <span custom-text="MCSGOURL.169"> Hmmmm...<br /> heb je nog niets in je favorieten?</span>
            </p>
            <div class="center box-margin-top">
                <button sb-trigger="save" class="btn btn-magenta">
                    <span custom-text="MCSGOURL.168">Huidige keuze opslaan</span>
                </button>
            </div>
        </div>
    </div>

</div>