<div class="sb-modal sb-modal--transparent sb-info-modal">
    <div class="sb-modal__container">
        <div sb-offer-count sb-trigger
             class="sb-trigger">
            <span class="sb-hart"></span>
        </div>
        <div class="sb-modal__content">

            <div class="content__header">
                <div class="sb-img-arrow-heart"></div>

                <p class="center">
                    <span custom-text="MCSGOURL.171">Hier vind je jouw favorieten</span>
                </p>
            </div>


            <div class="center">
                <button ng-click="close()" class="btn btn-magenta">
                    <span custom-text="MCSGOURL.170">Ok&eacute;, ik snap het!</span>
                </button>
            </div>

            <div class="content__footer">
                <p class="center">
                    <span custom-text="MCSGOURL.172">....of rond direct af</span>
                </p>

                <div class="sb-img-arrow-order"></div>

            </div>
        </div>
    </div>
</div>
