<div class="sb-modal sb-modal--transparent">
    <div class="sb-modal__container">
        <div class="sb-modal__content">

            <p class="center bold">Om iets op te slaan in je eigen verlanglijstje moet je ingelogd zijn.</p>

            <div class="center">
                <button ng-click="login()"
                        class="btn btn-magenta">Login
                </button>
            </div>
            <div class="center">
                <button ng-click="close()"
                        class="btn btn-inverse-blue box-margin-top">Ga verder
                </button>
            </div>
        </div>
    </div>
</div>
