<div class="sb-modal sb-modal--transparent">
    <div class="sb-modal__container">
        <div class="sb-modal__content center-content">

            <p class="center">
                <span custom-text="MCSGOURL.177">Om iets op te slaan op je favorieten moet je eerst een toestel selecteren</span>
            </p>
            <div class="center box-margin-top">
                <button ng-click="close()" class="btn btn-magenta">
                    <span custom-text="MCSGOURL.170">Ok&eacute;, ik snap het!</span>
                </button>
            </div>
        </div>
    </div>
</div>
