<div class="sb-modal sb-modal--transparent">
    <div class="sb-modal__container">
        <div class="sb-modal__content center-content">

            <div class="box-margin-vertical sb-img-offer-replace box-margin-center">

            </div>

            <p class="center offer-replace-text">
                <span custom-text="MCSGOURL.173">Je hebt al een artikel in<br/>je favorieten</span>
            </p>
            <p class="center">
                <span custom-text="MCSGOURL.174">Wil je die vervangen?</span>
            </p>
            <div class="center box-margin-top offer-replace-btn">
                <button ng-click="close()"
                        class="btn btn-grey">Nee</button>
                <button sb-trigger="replace"
                        class="btn btn-green">Ja</button>
            </div>

        </div>
    </div>
</div>
