.sb-hart {
  color: #e30074;
  font-size: 1.5em;
  vertical-align: middle; }

.btn.btn-inverse-blue {
  color: white;
  background-color: #357BA7;
  border-color: #357BA7;
  box-shadow: 0 2px 0 #295e80; }
  .btn.btn-inverse-blue:hover {
    color: #FFF;
    background-color: #357BA7;
    border-color: #2f6d94;
    box-shadow: 0 2px 0 #295e80; }

body.modal-open > [ui-view] > [ui-view]:not([ui-view=receipt]):not([ui-view=header]),
body.modal-open > [ui-view] [ui-view=header] > * {
  filter: blur(1px); }

.sb-modal {
  height: 100%;
  width: 100vw;
  z-index: 1010;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white; }
  .sb-modal p.large, .sb-modal span.large {
    font-size: 14px; }
  .sb-modal.sb-modal--transparent {
    background-color: rgba(0, 0, 0, 0.5);
    color: white; }
    body.miniReceiptShown .sb-modal.sb-modal--transparent {
      height: calc(100% - 50px); }
  .sb-modal hr {
    margin: 5px 0; }
  .sb-modal .btn {
    padding: 0 15px;
    line-height: 35px; }
    .sb-modal .btn.btn-grey {
      color: black; }

sb-offer-display:last-child hr {
  display: none; }

.sb-modal__container {
  padding: 20px;
  height: 100%;
  overflow-y: scroll; }

.sbmodal__content, .sb-modal__header {
  position: relative; }

.sb-modal__close {
  position: absolute;
  top: 0;
  right: -4px;
  width: 45px;
  height: 45px;
  line-height: 40px;
  color: #357BA7;
  font-size: 35px;
  text-align: center; }
  .sb-modal__close:after {
    font-family: 't-mobile-icon-font' !important;
    content: "\e60f"; }

.sb-modal__title {
  font-family: "tele-grotesk", sans-serif;
  font-size: 1.8em;
  color: #555555;
  font-weight: bold; }
  .sb-modal__title .sb-hart {
    margin-right: .25em; }

.page-header .sb-trigger, .sb-modal .sb-trigger {
  position: absolute;
  top: 10px;
  right: 10px;
  left: auto;
  height: 30px;
  line-height: 30px;
  width: 30px;
  text-align: center;
  padding: 0;
  border-radius: 3px;
  border: 1px solid #cccccc;
  background-color: white; }
.sb-modal .sb-trigger {
  border-color: transparent; }
body.modal-open .page-header .sb-trigger {
  display: none; }
.sb-trigger[sb-offer-count-value]:after {
  content: attr(sb-offer-count-value) !important;
  position: absolute;
  top: -8px;
  left: -8px;
  color: white;
  width: 15px;
  height: 15px;
  background-color: green;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  border-radius: 50%;
  font-weight: bold; }

sb-offer-display {
  display: block;
  position: relative; }
  sb-offer-display.ng-leave, sb-offer-display.ng-enter {
    transition: all 400ms;
    transform-origin: left top; }
  sb-offer-display.ng-leave.ng-leave-active, sb-offer-display.ng-enter {
    opacity: 0;
    transform: scaleY(0) translateY(-100%); }
  sb-offer-display.ng-enter.ng-enter-active, sb-offer-display.ng-leave {
    transform: scaleY(1) translateY(0);
    opacity: 1; }

.sb-offer {
  display: flex;
  flex-wrap: wrap; }

.sb-offer__image {
  width: 30%; }
  .sb-offer__image img {
    max-width: 100%;
    height: auto; }

.sb-offer__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  flex: 1; }
  .sb-offer__info h2 {
    font-size: 20px;
    margin: 0;
    width: 100%; }
  .sb-offer__info p {
    line-height: 1; }

.sb-offer__half:nth-of-type(1) {
  margin-right: 10px; }

.sb-offer__list {
  width: 100%; }
  .sb-offer__list li {
    line-height: 1.1; }
    .sb-offer__list li:before {
      content: '+';
      margin-right: .5em;
      display: inline-block; }

.sb-offer__price {
  width: 100%;
  text-align: right;
  font-size: 25px; }

.sb-offer__commands {
  width: 100%;
  display: flex; }
  .sb-offer__commands .btn {
    padding: 0;
    margin-right: 10px;
    flex-grow: 1; }
    .sb-offer__commands .btn:last-child {
      margin-right: 0; }
  .sb-offer__commands .sb-offer__command--delete {
    flex-grow: 0;
    width: 40px; }

/*  */

/*# sourceMappingURL=styles.css.map */
