.sb-trigger-wrapper--static-sticky-bar {
    float: right;
    line-height: 25px;
    border-left: 1px solid #ddd;

    .sb-trigger {
        padding: 0 $padding;
        position: relative;

        &-static-text {
            padding-left: $padding / 2;

        }
    }
    button {
        border: none;
        background: none;
    }
}

.sb-trigger {
    &[sb-offer-count-value] {
        &:after {
            top: 2px;
            left: 21px;
            font-size: 10px;
            background-color: transparent;
        }

        @media screen and (-webkit-min-device-pixel-ratio:0) {
            &:after {
                top: 0;
            }
        }
    }
}

.receipt-trigger-desktop {
    margin: 20px 20px 0 20px;
}