.sb-trigger {
    .page-header &, .sb-modal & {
        position: absolute;
        top: 10px;
        right: 10px;
        left: auto;
        height: 30px;
        line-height: 26px;
        width: 30px;
        text-align: center;
        padding: 0;
        border-radius: 3px;
        border: 1px solid #cccccc;
        background-color: white;
    }
    .sb-modal & {
        border-color: transparent;
    }
    body.modal-open .page-header & {
        // hide the trigger in the header when the modal is open
        display: none;
    }

    &[sb-offer-count-value] {
        &:after {
            content: attr(sb-offer-count-value) !important;
            position: absolute;
            top: -8px;
            left: -8px;
            color: white;
            width: 15px;
            height: 15px;
            background-color: green;
            font-size: 12px;
            line-height: 15px;
            text-align: center;
            border-radius: 50%;
            font-weight: bold;
        }
    }
}
